h1 {
  color: bisque;
}
body{
  background-color:black;
  text-align: center;
}
h2{
  color: bisque;
  margin-top: 2%;

}

input{
  margin: 2%;
  padding: 0.5%;
}

button{
  padding: 0.5%;
}

div{
  background-color: white;
}

