{% extends "./base.html" %}

<!-- Add to the header -->
{% block header %}
<title>Home</title>
{% load static %}
<link rel="stylesheet" href="{% static 'home/styles.css' %}" />
<script src="{% static 'home/script.js' %}" defer></script>
{% endblock %}

<!-- Add body data -->
{% block body %}
<div class="container">
  <div class="form-container">
    <form id="createForm">
      <h2>Create</h2>
      <div class="input-field input-row">
        <input id="create_date_file" type="file" name="data_file" />
        <button class="default-button" type="submit" id="createButton">
          Create
        </button>
      </div>
    </form>
  </div>
</div>
{% endblock %}
